@media (max-width: 991.98px) {

    .nav-item{
        text-align: right;
    }

    .card{
        --bs-card-spacer-y: 0.14rem;
        --bs-card-spacer-x: 0.14rem;
    }

    .card-text{
        font-size: 17%;
        
    }

    .textoDesc {
        font-size: 12px;
    }

    .tituloPage {
        font-size: 20px;
    }

}
